.text-primary{
    color: rgb(253, 110, 10);
}

.text-secondary{
    color: rgb(117, 117, 117);
}

.navbar{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 91.666667%; /* 11/12 = 91.666667% */
    margin: 0 auto;
}

.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.nav-title{
    font-size: 45px;
    font-weight: bolder;
    color: black;
    margin-left: 25px;
}

.nav-title-part{
    color: rgb(253, 110, 10);
}

.nav-links{
    margin-right: 30px;
    text-decoration: none;
    color: gray;
    font-size: 20px;
}

.btn{
    background-color: rgb(253, 110, 10);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.hero-content{
    width: 570px;
}

.hero-section{
    display: flex;
    justify-content: space-around;
}


.hero-hi{
    color: rgb(71, 71, 71);
    font-size: 45px;
}

.name{
    font-size: 85px;
    margin-top: -30px;
    margin-bottom: -2px;
}

.font{
    margin-right: 5px;
}

.btn-2{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid rgb(253, 110, 10);
    border-radius: 5px;
    background-color: white;
    margin-left: 30px;
}

.body{
    padding-top: 25px;
}

.about-content{
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 160px;
    padding-right: 160px;
    background-color: rgb(255, 248, 243);
    width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
    border-radius: 20px;
}

.about{
    width: 827px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-info{
    display: flex;
}

.about-me{
    font-size: 35px;
    margin-bottom: -5px;
}

.desc{
    text-align: center;
}


.about>div>div{
    margin-right: 30px;
    text-align: center;
}